h1 {
  text-align: center;
  padding: 10px 0px;
}
.boder-1 {
  color: red;
  border: 1px solid red;
}
.boder-2 {
  color: green;
  border: 1px solid green;
}
.boder-3 {
  color: blue;
  border: 1px solid blue;
}
p {
  
  
  padding: 10px;
  box-shadow: 2px 5px 8px #888888;
}
